%h1= @post.title
%p= @post.content
%em= @post.author

= link_to "Modifier", edit_post_path(@post)
= link_to "Supprimer", post_path(@post), method: :delete, data: {confirme: "Vous êtes sure de vouloir Supprimer"}
= link_to "Accueil", root_path